body {
    background-color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    align-content: stretch;
}

div.content {
    padding: 16px;
}

header {
    margin: 0;
    background-color: rgb(160, 64, 160);
    color: #FFFFFF;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 140px;
    height: 140px;
}

li.fire {
    background-color: #F08030;
}

li.grass {
    background-color: #78C850;
}

li.poison {
    background-color: #A040A0;
}

li.water {
    background-color: #6890F0;
}

li.bug {
    background-color: #A8B820;
}

li.flying {
    background-color: #A890F0;
}

li.bug.flying {
    background: linear-gradient(90deg, #A8B820 50%, #A890F0 50%)
}

li.bug.poison {
    background: linear-gradient(90deg, #A8B820 50%, #A040A0 50%)
}

li.grass.poison {
    background: linear-gradient(90deg, #78C850 50%, #A040A0 50%)
}

ul.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.item-container{
    display: block;
    margin: 5px;
    flex-direction: column;
}

span.item-name{
    color: #fff;
    font-size: 14px;
    background-color: rgba(0,0,0,.5);
    display: block;
    padding: 5px;
    bottom: 0;
    text-align: center;
}

button:hover {
    opacity: 0.5;
}